.App {
  text-align: center;
}

.board {
  background: #bbb;
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
}

.cell.red {
  background: red;
  border-color: darkred;
}
.cell.green {
  background: green;
  border-color: darkgreen;
}
.cell.yellow {
  background: yellow;
  border-color: darkgoldenrod;
}
