.App {
  text-align: center;
}

.board {
  background: #bbb;
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
}

.cell.red {
  background: red;
  border-color: darkred;
}
.cell.orange {
  background: orange;
  border-color: darkorange;
}
.cell.yellow {
  background: yellow;
  border-color: darkgoldenrod;
}
.cell.green {
  background: green;
  border-color: darkgreen;
}
.cell.cyan {
  background: cyan;
  border-color: darkcyan;
}
.cell.blue {
  background: blue;
  border-color: darkblue;
}
.cell.indigo {
  background: indigo;
  border-color: darkslateblue;
}
