#root {
  display: flex;
  justify-content: center;
}

.App {
  display: block;
  margin: 0 auto;
}

.board {
  background: #bbb;
  margin: 0 auto;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
}

.cell.red {
  background: red;
  border-color: darkred;
}
.cell.orange {
  background: orange;
  border-color: darkorange;
}
.cell.yellow {
  background: yellow;
  border-color: darkgoldenrod;
}
.cell.green {
  background: green;
  border-color: darkgreen;
}
.cell.cyan {
  background: cyan;
  border-color: darkcyan;
}
.cell.blue {
  background: blue;
  border-color: darkblue;
}
.cell.indigo {
  background: indigo;
  border-color: darkslateblue;
}

.controls {
  display: grid;
  grid-template-columns: 33%;
  grid-template-areas:
    "empty1 rotate empty2"
    "left   down  right";
  margin-top: 1em;
}
.controls button {
  padding: 8px 0;
}
.controls .rotate {
  grid-area: rotate;
}
.controls .left {
  grid-area: left;
}
.controls .down {
  grid-area: down;
}
.controls .right {
  grid-area: right;
}
